body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

section {
  padding: 70px 20px;
  text-align: center;
}

a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}